<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.knowledge.mapper.KnowledgePageSourceRefMapper">
    <select id="selectByPageBlockIds" resultType="org.quyq.gwsu.kit.knowledge.domain.KitKnowledgePageSourceRef">
        SELECT *
        FROM kit_knowledge_page_source_ref
        WHERE tenant_id = #{tenantId}
          AND deleted = 0
          <choose>
              <when test="pageBlockIds != null and pageBlockIds.size() > 0">
                  AND page_block_id IN
                  <foreach collection="pageBlockIds" item="pageBlockId" open="(" separator="," close=")">
                      #{pageBlockId}
                  </foreach>
              </when>
              <otherwise>
                  AND 1 = 0
              </otherwise>
          </choose>
    </select>
</mapper>
