<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.knowledge.mapper.KnowledgeIngestAnalysisCheckpointMapper">
    <select id="selectByTaskId" resultType="org.quyq.gwsu.kit.knowledge.domain.KitKnowledgeIngestAnalysisCheckpoint">
        SELECT *
        FROM kit_knowledge_ingest_analysis_checkpoint
        WHERE ingest_task_id = #{ingestTaskId}
          AND deleted = 0
        ORDER BY chunk_no ASC
    </select>

    <select id="selectByTaskIdAndChunkNo" resultType="org.quyq.gwsu.kit.knowledge.domain.KitKnowledgeIngestAnalysisCheckpoint">
        SELECT *
        FROM kit_knowledge_ingest_analysis_checkpoint
        WHERE ingest_task_id = #{ingestTaskId}
          AND chunk_no = #{chunkNo}
          AND deleted = 0
    </select>

    <select id="selectByTaskIds" resultType="org.quyq.gwsu.kit.knowledge.domain.KitKnowledgeIngestAnalysisCheckpoint">
        SELECT *
        FROM kit_knowledge_ingest_analysis_checkpoint
        WHERE deleted = 0
          <choose>
              <when test="ingestTaskIds != null and ingestTaskIds.size() > 0">
                  AND ingest_task_id IN
                  <foreach collection="ingestTaskIds" item="ingestTaskId" open="(" separator="," close=")">
                      #{ingestTaskId}
                  </foreach>
              </when>
              <otherwise>
                  AND 1 = 0
              </otherwise>
          </choose>
        ORDER BY ingest_task_id ASC, chunk_no ASC
    </select>
</mapper>
