<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.knowledge.mapper.KnowledgePageMapper">
    <select id="selectCurrentPagesBySourceDocumentId" resultType="org.quyq.gwsu.kit.knowledge.domain.KitKnowledgePage">
        SELECT DISTINCT p.*
        FROM kit_knowledge_page p
                 INNER JOIN kit_knowledge_page_block b
                            ON b.page_version_id = p.current_version_id
                                AND b.deleted = 0
                 INNER JOIN kit_knowledge_page_source_ref r
                            ON r.page_block_id = b.id
                                AND r.deleted = 0
        WHERE p.deleted = 0
          AND r.source_document_id = #{sourceDocumentId}
    </select>
</mapper>
