<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.job.mapper.KitJobLogGlueMapper">

    <!-- removeOld：MySQL 子查询 LIMIT -->
    <delete id="removeOld" databaseId="mysql">
        DELETE FROM kit_job_log_glue
        WHERE id NOT IN (
            SELECT id FROM (
                SELECT id FROM kit_job_log_glue
                WHERE job_id = #{jobId}
                ORDER BY modify_time DESC
                LIMIT 0, #{limit}
            ) t1
        ) AND job_id = #{jobId}
    </delete>

    <!-- removeOld：PostgreSQL 子查询 LIMIT OFFSET -->
    <delete id="removeOld" databaseId="postgresql">
        DELETE FROM kit_job_log_glue
        WHERE id NOT IN (
            SELECT id FROM (
                SELECT id FROM kit_job_log_glue
                WHERE job_id = #{jobId}
                ORDER BY modify_time DESC
                LIMIT #{limit} OFFSET 0
            ) t1
        ) AND job_id = #{jobId}
    </delete>

</mapper>
