<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.job.mapper.KitJobRegistryMapper">

    <!-- findDead：MySQL DATE_ADD -->
    <select id="findDead" parameterType="java.util.HashMap" resultType="java.lang.Integer" databaseId="mysql">
        SELECT t.id
        FROM kit_job_registry AS t
        WHERE t.modify_time <![CDATA[ < ]]> DATE_ADD(#{nowTime}, INTERVAL -#{timeout} SECOND)
    </select>

    <!-- findDead：PostgreSQL 日期减法 -->
    <select id="findDead" parameterType="java.util.HashMap" resultType="java.lang.Integer" databaseId="postgresql">
        SELECT t.id
        FROM kit_job_registry AS t
        WHERE t.modify_time <![CDATA[ < ]]> (#{nowTime} - INTERVAL '1 second' * #{timeout})
    </select>

    <!-- findAll：MySQL DATE_ADD -->
    <select id="findAll" parameterType="java.util.HashMap" resultType="org.quyq.gwsu.kit.job.domain.KitJobRegistry" databaseId="mysql">
        SELECT
            t.id,
            t.registry_group,
            t.registry_key,
            t.registry_value,
            t.modify_time
        FROM kit_job_registry AS t
        WHERE t.modify_time <![CDATA[ > ]]> DATE_ADD(#{nowTime}, INTERVAL -#{timeout} SECOND)
    </select>

    <!-- findAll：PostgreSQL 日期减法 -->
    <select id="findAll" parameterType="java.util.HashMap" resultType="org.quyq.gwsu.kit.job.domain.KitJobRegistry" databaseId="postgresql">
        SELECT
            t.id,
            t.registry_group,
            t.registry_key,
            t.registry_value,
            t.modify_time
        FROM kit_job_registry AS t
        WHERE t.modify_time <![CDATA[ > ]]> (#{nowTime} - INTERVAL '1 second' * #{timeout})
    </select>

    <!-- registrySaveOrUpdate：MySQL ON DUPLICATE KEY UPDATE -->
    <insert id="registrySaveOrUpdate" databaseId="mysql">
        INSERT INTO kit_job_registry (id, registry_group, registry_key, registry_value, modify_time)
        VALUES (#{id}, #{registryGroup}, #{registryKey}, #{registryValue}, #{modifyTime})
        ON DUPLICATE KEY UPDATE
            modify_time = #{modifyTime}
    </insert>

    <!-- registrySaveOrUpdate：PostgreSQL ON CONFLICT -->
    <insert id="registrySaveOrUpdate" databaseId="postgresql">
        INSERT INTO kit_job_registry (id, registry_group, registry_key, registry_value, modify_time)
        VALUES (#{id}, #{registryGroup}, #{registryKey}, #{registryValue}, #{modifyTime})
        ON CONFLICT (registry_group, registry_key, registry_value) DO UPDATE SET
            modify_time = #{modifyTime}
    </insert>

</mapper>
