<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.kit.job.mapper.KitJobInfoMapper">

    <!-- ==================== 调度核心查询 ==================== -->

    <select id="scheduleJobQuery" parameterType="java.util.HashMap" resultType="org.quyq.gwsu.kit.job.domain.KitJobInfo">
        SELECT
            t.id,
            t.job_group,
            t.name,
            t.author,
            t.alarm_email,
            t.schedule_type,
            t.schedule_conf,
            t.misfire_strategy,
            t.executor_route_strategy,
            t.executor_handler,
            t.executor_param,
            t.executor_block_strategy,
            t.executor_timeout,
            t.executor_fail_retry_count,
            t.glue_type,
            t.glue_source,
            t.glue_remark,
            t.glue_updatetime,
            t.child_jobid,
            t.trigger_status,
            t.trigger_last_time,
            t.trigger_next_time
        FROM kit_job_info AS t
        WHERE t.trigger_status = 1
            AND t.trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
        ORDER BY id ASC
        <if test="_databaseId == 'mysql'">
            LIMIT #{pagesize}
        </if>
        <if test="_databaseId == 'postgresql'">
            LIMIT #{pagesize}
        </if>
    </select>

    <update id="scheduleUpdate" parameterType="org.quyq.gwsu.kit.job.domain.KitJobInfo">
        UPDATE kit_job_info
        SET
            trigger_last_time = #{triggerLastTime},
            trigger_next_time = #{triggerNextTime}
            <if test="triggerStatus gte 0">
                , trigger_status = #{triggerStatus}
            </if>
        WHERE id = #{id}
          AND trigger_status = 1
    </update>

    <update id="scheduleBatchUpdate" parameterType="java.util.List">
        UPDATE kit_job_info
        SET
            trigger_last_time = CASE id
            <foreach collection="list" item="item" separator=" ">
                WHEN #{item.id} THEN #{item.triggerLastTime}
            </foreach>
            ELSE trigger_last_time
            END,
            trigger_next_time = CASE id
            <foreach collection="list" item="item" separator=" ">
                WHEN #{item.id} THEN #{item.triggerNextTime}
            </foreach>
            ELSE trigger_next_time
            END,
            trigger_status = CASE id
            <foreach collection="list" item="item" separator=" ">
                WHEN #{item.id} THEN
                <choose>
                    <when test="item.triggerStatus gte 0">
                        #{item.triggerStatus}
                    </when>
                    <otherwise>trigger_status</otherwise>
                </choose>
            </foreach>
            ELSE trigger_status
            END
        WHERE id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
            AND trigger_status = 1
    </update>

</mapper>
