<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.system.manager.mapper.SysUserMapper">

    <select id="selectUserPage" resultType="org.quyq.gwsu.system.manager.domain.SysUser">
        SELECT
        u.id,
        u.username,
        u.nickname,
        u.avatar,
        u.email,
        u.phone,
        u.gender,
        u.status,
        u.last_login_time
        FROM sys_user u
        WHERE u.deleted = 0
        <if test="query.deptId != null and query.deptId != ''">
            AND u.id IN (
            SELECT ud.user_id FROM sys_user_dept ud
            INNER JOIN sys_dept d ON d.id = ud.dept_id AND d.deleted = 0
            WHERE d.path LIKE CONCAT((SELECT d2.path FROM sys_dept d2 WHERE d2.id = #{query.deptId} AND d2.deleted = 0),
            '%')
            OR d.id = #{query.deptId}
            )
        </if>
        <if test="query.keyword != null and query.keyword != ''">
            AND (
            u.username LIKE CONCAT('%', #{query.keyword}, '%')
            OR u.nickname LIKE CONCAT('%', #{query.keyword}, '%')
            OR u.phone LIKE CONCAT('%', #{query.keyword}, '%')
            )
        </if>
        <if test="query.status != null">
            AND u.status = #{query.status}
        </if>
        ORDER BY u.create_time DESC
    </select>

</mapper>
