.configTab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tableTitle {
  font-size: 16px;
  font-weight: 500;
}
