<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.security.apiresource.mapper.SecurityApiTableModelMapper">

    <resultMap id="SecurityApiTableModelMap" type="org.quyq.gwsu.security.apiresource.domain.SecurityApiTableModel" autoMapping="true">
        <result column="field_config" property="fieldConfig"
                typeHandler="org.quyq.gwsu.security.apiresource.typehandler.FieldConfigTypeHandler"/>
    </resultMap>

    <sql id="selectByCondition">
        select model.* from (
        select satm.id ,satm.api_id ,satm.module_prefix ,COALESCE(satmc.datasource ,satm.datasource) as datasource,satm.table_name,satm.field_config,
        satm.tenant_id,satm.create_op,satm.create_time,satm.modify_op,satm.modify_time from security_api_table_model satm
        left join security_api_table_model_config satmc on satmc.table_model_id = satm.id
        ) model
        <where>
            <if test="param.apiId != null and param.apiId != ''">
                AND model.api_id = #{param.apiId}
            </if>
            <if test="param.modulePrefix != null and param.modulePrefix != ''">
                AND model.module_prefix = #{param.modulePrefix}
            </if>
            <if test="param.datasource != null and param.datasource != ''">
                AND model.datasource = #{param.datasource}
            </if>
            <if test="param.tableName != null and param.tableName != ''">
                AND model.table_name = #{param.tableName}
            </if>
            <if test="param.apiIds != null and param.apiIds.size() > 0">
                AND model.api_id IN
                <foreach collection="param.apiIds" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </sql>


    <select id="listTableModelByApiId" resultMap="SecurityApiTableModelMap">
        select satm.id ,satm.api_id ,satm.module_prefix ,COALESCE(satmc.datasource ,satm.datasource) as datasource,satm.table_name,satm.field_config,
               satm.tenant_id,satm.create_op,satm.create_time,satm.modify_op,satm.modify_time from security_api_table_model satm
        left join security_api_table_model_config satmc on satmc.table_model_id = satm.id
        where satm.api_id in
        <foreach collection="apiIds" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <select id="listTableModelByCondition" resultMap="SecurityApiTableModelMap">
        <include refid="selectByCondition"></include>
    </select>

    <select id="pageByCondition" resultMap="SecurityApiTableModelMap">
        <include refid="selectByCondition"></include>
        order by model.modify_time desc ,model.create_time desc
    </select>

</mapper>
